<app-navbar></app-navbar>
<div class="container">

    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>A+ <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                        {{this.countc}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>B+ <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                        {{this.countf}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>O+ <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                        {{this.countb}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>AB+ <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                        {{this.counta}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>A- <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                        {{this.countd}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>B- <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                        {{this.countg}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>O- <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                        {{this.counte}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>AB- <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                        {{this.counth}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <i class="fas fa-users"></i>
                    </div><br>
                    <div>
                        Total Donors <br>
                        {{this.total}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>