
    <div class="container py-2 h-200">
      <div class="row d-flex justify-content-center align-items-center h-20">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="assets/blood.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1" href="/login">BLOOD BANK</h4>
                  </div>
  
                  <form [formGroup]="loginform">
                    <p>Please login to your account</p>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">Username</label>
                      <input type="text" formControlName="loginname"class="form-control"
                        placeholder="Phone number or email address" />
                        <div *ngIf="loginform.controls['loginname'].touched && loginform.controls['loginname'].value === ''" class="error error-txt">
                          The field is required.
                        </div>
                        
                      <!-- <div class="error" ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</div> -->
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example22">Password</label>
                      <input type="password" formControlName="loginpassword" class="form-control" />
                      <div *ngIf=" loginform.controls['loginpassword'].touched &&loginform.controls['loginpassword'].value === ''" class="error error-txt">
                        The field is required.
                      </div>
                     
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="loginuser()">Log
                        in</button>
                   
                    <div *ngIf="errormsg" class="error error-txt">{{errormsg}}</div>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button type="button" class="btn btn-outline-danger"  routerLink="/register">Create new</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6  align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                
                    <img src="assets/img45.avif"style="width:400px;height:400px;top:10px;background-position: 20% 30%;"
                    
                     alt="logo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </section> -->