
<app-navbar></app-navbar>
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">

        <div style="margin-left: 70px;" class="card card-5">
            <div class="card-heading">
                <h2 class="title">Patient Details</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="patientform">

                    <div class="form-row">
                        <div class="form-label">Username
                            <input type="text" class=" form-control" formControlName="Pusername" />
                            
                        <div *ngIf="patientform.controls['Pusername'].touched && patientform.controls['Pusername'].value === ''" class="error error-txt">
                            The field is required.
                          </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="label">Lastname
                            <input type="text" class="form-control" formControlName="PLastname" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="label" >Phonenumber
                            <input type="text" class="form-control" formControlName="PPhonenumber" />
                            <div *ngIf="patientform.controls['PPhonenumber'].touched && patientform.controls['PPhonenumber'].value === ''" class="error error-txt">
                                The field is required.
                              </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-label">Required Blood Group</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="bloodgroup" formControlName="Pbloodgroup">
                                        <option disabled="disabled" selected="selected">Choose option
                                        </option>
                                        <option>O+</option>
                                        <option>O-</option>
                                        <option>A+</option>
                                        <option>A-</option>
                                        <option>B+</option>
                                        <option>B-</option>
                                        <option>AB+</option>
                                        <option>AB-</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="label"> Required Unit (in ml)


                            <input type="number" class="form-control" formControlName="Punits" />

                        </div>
                    </div>
                    <div class="form-row">
                        <!-- <div class="form-group"> -->
                            <div class="radio">
                                <label>Gender:</label>
                                <input type="radio" value="male" formControlName="Pgender">male
                                <input type="radio" value="female" formControlName="Pgender">female
                                <input type="radio" value="others" formControlName="Pgender">others
                              </div>
                        <!-- </div> -->
                    </div>

                    <div class="form-row">
                        <div class="label">Age
                            <input type="number" class="form-control" formControlName="Page">
                            <div *ngIf="patientform.controls['Page'].touched && patientform.controls['Page'].value === ''" class="error error-txt">
                                The field is required.
                              </div>
                        </div>
                    </div>


                    <div>
                        <button class="btn btn--radius-2 btn-danger" type="submit" (click)="onsubmit()">Submit</button>
                    </div>
                </form>
                <br>


            </div>
        </div>
    </div>